<a href="https://colab.research.google.com/github/plaban1981/Timeseries/blob/master/TimeSeries_Prediction_of_Corona_Virus_outbreak_using_PROPHET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Coronavirus Outbreak and Recovering Rate with FB Prophet

* Lots of influencing factors hence prediction can be wrong
* Less Data
* Presence of Effective Treatment and Vaccine can influence prediction

#### Installation
pip install fbprophet

#### Data Source
https://github.com/CSSEGISandData/COVID-19

https://raw.githubusercontent.com/Jcharis/DataScienceTools/master/Data_analysis_of_Coronavirus_Outbreak_with_Python/coronavirus_data_clean.csv

https://github.com/Jcharis/DataScienceTools/blob/master/Data_analysis_of_Coronavirus_Outbreak_with_Python/Time_Series_Prediction_of_Coronavirus_Outbreak_with_Facebook_Prophet.ipynb

In [0]:

confirmed_cases_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
recovered_cases_url ='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
death_cases_url ='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [9]:
df = pd.read_csv(confirmed_cases_url)
df[df['Country/Region'] == 'India']

    Province/State Country/Region   Lat  Long  ...  5/4/20  5/5/20  5/6/20  5/7/20
131            NaN          India  21.0  78.0  ...   46437   49400   52987   56351

[1 rows x 111 columns]

## Massage a DataFrame into a format where one or more columns are identifier

In [0]:
def get_n_melt_data(data_url,case_type):
    df = pd.read_csv(data_url)
    melted_df = df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'])
    melted_df.rename(columns={"variable":"Date","value":case_type},inplace=True)
    return melted_df

def merge_data(confirm_df,recovered_df,deaths_df):
	new_df = confirm_df.join(recovered_df['Recovered']).join(deaths_df['Deaths'])
	return new_df

In [0]:
confirm_df = get_n_melt_data(confirmed_cases_url,"Confirmed")
recovered_df = get_n_melt_data(recovered_cases_url,"Recovered")
deaths_df = get_n_melt_data(death_cases_url,"Deaths")

In [12]:
confirm_df[confirm_df['Country/Region'] == 'India'].tail()

      Province/State Country/Region   Lat  Long    Date  Confirmed
27263            NaN          India  21.0  78.0  5/3/20      42505
27529            NaN          India  21.0  78.0  5/4/20      46437
27795            NaN          India  21.0  78.0  5/5/20      49400
28061            NaN          India  21.0  78.0  5/6/20      52987
28327            NaN          India  21.0  78.0  5/7/20      56351

In [13]:
recovered_df [recovered_df ['Country/Region'] == 'India'].tail()

      Province/State Country/Region   Lat  Long    Date  Recovered
25829            NaN          India  21.0  78.0  5/3/20      11775
26081            NaN          India  21.0  78.0  5/4/20      12847
26333            NaN          India  21.0  78.0  5/5/20      14142
26585            NaN          India  21.0  78.0  5/6/20      15331
26837            NaN          India  21.0  78.0  5/7/20      16776